/*body {
	font-family: Veranda, Geneva, sans-serif;
}*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
li {
    float:left;
}
li a {
	display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:white;
}
li a:hover {
	background-color: #111;
}
h1 a {
	text-decoration: none;
	color:black;
}

h1 a:hover, a:active {
	color: #15317E;
	text-decoration: none;
}

#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}
#banner h1 {font-size: 3.571em; line-height: .6;}
body {
	color: #000204;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;/*Helvetica, Arial, Verdana, sans-serif;*/
	font-size: 77.5%; /* base font = 14px*/
	font-weight: 300;
	line-height: 1.429; /* 1.429*current font size = 20px */
	margin: 0;
	padding: 0;
	text-align: left;
}
.body {clear: both; margin: 0 auto; width: 700px;}

#left {
	width:250px;
	float:left;
	padding-left:20px;

}

#right {
	margin-left: 250px;
	padding-left: 40px;
	padding-right: 20px;

}
#titlediv {
	padding-left:20px; 
	display:block;
/*	margin-bottom: -20px;
*/
	margin:0;
	padding: 0;
}
#titlediv h2 {
	margin: 20px 0 0 20px;
	font-size: 1.714em;
	font-weight: bold;
}
#titlediv h3 {
	margin: 0 0 0 20px;
	text-decoration: none;
	font-weight: normal;
	font-size: 1.15em;
}

#fallcourse {
/*	position: absolute;
*/	width:250px;
	float:left;
	padding-left:20px;
	height:170px;
}
#springcourse {
	position:absolute;
	margin-left: 280px;
	width:250px;
	float:left;
	padding-left: 20px;
	height:170px;
}
#fallqr {
	width:210px;
	float:left;
	padding-left:20px;
	height:170px;
}
#winterqr {	
	position:absolute;
	margin-left: 210px;
	width:210px;
	float:left;
	padding-left: 20px;
	height:170px;
}
#springqr {
	position:absolute;
	margin-left: 420px;
	width:210px;
	float:left;
	padding-left: 20px;
	height:170px;
}

#wrapper {
	width:660px;
	overflow:hidden;
	background-color: #FFF;
	padding: 20px;
	margin: 0 auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-top: 40px;
}

#links {
	padding-top: 25px;
	margin:auto;
	width:450px;

}

